    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul class="lead text-left">
              <br>
              <br>
              <br>
              <li>Select a network device</li>
              <li>Select an IX</li>
              <li>Use the buttons to manage peers</li>
            </ul>
	  </div>
          <div class="col-sm-6">
            <a href="http://www.hibernianetworks.com/"><img src="{{ url_for('static', filename='hibernia-logo.png') }}" class="img-responsive"></a>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-center">
            <a href="https://twitter.com/hibernianetwork"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://www.facebook.com/HiberniaNetworks/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">Hibernia Networks 2016
              <br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
